* {
    box-sizing: border-box;
}

body {
    padding: 1px 0px 0px 0px;
    margin: auto;
    font-family: 'Roboto', 'Arial';
    font-size: 16px;
    line-height: 1.5;
    color: #fafbfc;
    background-color: #25272A;
}

h1 {
    font-size: 2em;
    line-height: 1.5;
}

a {
    color: #93bcd1;
}

label {
    display: block;
    cursor: pointer;
    margin-bottom: 15px;
}

input, 
textarea {
    cursor: pointer;
    width: 100%;
    padding: 5px;
    border: solid 1px #484848;
    border-radius: 3px;
    font-size: 1rem;
    line-height: 1.3em;
    color: inherit;
    background-color: transparent;
}

textarea {
    min-height: 150px;
}

input[type=submit] {
    color: #fff;
    background-color: #305530;
}

/*-------------*/

table {
    border-collapse: collapse;
}

td, th {
    padding: 5px 10px;
}

table th {
    color: #fff;
    text-align: left;
    background-color: #333
}

/*-------------*/

.container {
    width: 960px;
    max-width: calc(100% - 40px);
    margin: 0px auto;
}

#app {
    margin: 0px;
}

    header {
        margin-bottom: 20px;
    }

        #menu {
            padding: 0px 10px;
            background-color: #161616;
        }

            #menu .container {
                list-style: none;
                padding: 0px;
                font-size: 0px;
                line-height: 0px;
                text-align: justify;            
            }

            #menu .container:after {
                display: inline-block;
                width: 100%;
                content: '';
            }

            #menu li {
                display: inline-block;
                vertical-align: top;
            }

                #menu li a {
                    display: block;
                    padding: 15px 10px;
                    font-size: 16px;
                    line-height: 1.3em;
                    color: #fff;
                    text-decoration: none;
                }
                #menu li a:visited {
                    color: #efefef;
                }
                #menu li a:hover {
                    background-color: #242424;
                }

        header #uri {
            padding: 5px 20px;
            border: 1px solid #484848;
            font-size: 14px;
            line-height: 1.3em;
        }

    /*-------------*/

    main {

    }

        main h1 {
            margin-top: 0px;
        }

        main > *:last-child {
            margin-bottom: 0px;
        }

/*-------------*/

p.success {
    padding: 10px;
    border: solid 1px #d6e9c6;
    border-radius: 3px;
    color: #3c763d;
    background-color: #dff0d8;
}